<!-- shows a form that ask the user to enter new password -->
{% extends "base.html" %}
{% block belowP%}
<form action="/auth/reset-token" method="post">
  <input type="hidden" name="token" value="{{token}}">
  <label for="password">new password</label>
  <input type="password" name="password" class="formPassword">
  <label for="password_two">retype new password</label>
  <input type="password" name="password_two" class="formPassword">
  <input type="submit" value="Submit">
</form>
{% endblock %}
