.testCss {
  color: hsl(250, 55%, 47%);
}

.testBase {
  color: darkred;
  font-size: 3em;
}

/* form  */
.formLabel {
  border: solid hsl(300, 60%, 80%);
  background-color: hsl(56, 89%, 50%);
  font-weight: 600;
}

.submitButton {
  font-weight: 600;
}
